<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <style link="../assets/style.css"></style> -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<title>Document</title>
	<style>
		body{

			background-image:url("../img/404_example.png");
			/*background-color: blue;*/
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
		}
	</style>	
</head>
<body bgcolor="blue">
	
	<!-- <h1>NOT FOUND</h1> -->
</body>
</html>